# Ignore artifacts:
node_modules/
dist/
build/
coverage/
.next/
.turbo/
out/

# Ignore lockfiles:
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore generated emscripten glue:
packages/unblockrace/src/services/solverWasm.js
